/* импортируем обнуление */
@import url("./reset.css");
@import url("./footer.css");
@import url("./header.css");

.about_us {
  display: flex;
  flex-direction: row;
  margin: 80px 170px;
}
.about_us_text p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 3px;
  text-align: left;
  color: #232536;
}
.about_us_text h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
  margin-top: 15px;
}
.about_us_text {
  padding: 64px;
}
.about_us_info {
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  align-items: center;
}

.baner {
  position: relative;
}
.baner img {
  margin: 0 auto;
  max-width: 90%;
}
.statistic {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 32px 48px;
  background-color: #ffd050;
  bottom: 20px;
  left: 120px;
  gap: 68px;
}
.statistic h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
}
.statistic p {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #232536;
}

.task {
  display: flex;
  flex-direction: row;
  background-color: #f4f0f8;
  margin: 0 96px 130px 96px;
}
.task_1 {
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.task_1 h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 3px;
  text-align: left;
  color: #232536;
}
.task_1 h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -1px;
  text-align: left;
  color: #232536;
}
.task_1 p {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #6d6e76;
}
.task_2 {
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task_2 h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 3px;
  text-align: left;
  color: #232536;
}
.task_2 h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -1px;
  text-align: left;
  color: #232536;
}
.task_2 p {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #6d6e76;
}
.info {
  display: flex;
  flex-direction: row;
  margin: 0 80px 130px 96px;
  justify-content: space-between;
}
.info_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 60px;
}
.info_text h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
}
.info_text h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #232536;
}
.info_text p {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #232536;
}

.list_of_authors {
  margin: 15px 80px 15px 80px;
  display: flex;
  flex-direction: column;
}
.list_of_authors_p {
  display: flex;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
  align-items: center;
  justify-content: center;
}
.list_of_authors_individual {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0 130px;
  margin-top: 3%;
}
.author_individual_1,
.author_individual_2,
.author_individual_3 {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 28px;
  gap: 10px;
}

.author_individual_1:hover,
.author_individual_2:hover,
.author_individual_3:hover {
  background-color: #fbf6ea;
}

.author_individual_1 p,
.author_individual_2 p,
.author_individual_3 p {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #6d6e76;
}
.author_individual_1 h2,
.author_individual_2 h2,
.author_individual_3 h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -1px;
  text-align: left;
  color: #232536;
}
.author_individual_img_1,
.author_individual_img_2,
.author_individual_img_3 {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.link_for_author {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.link_for_author img {
  width: 20px;
  height: 20px;
}

.mailing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 128px 80px 120px 80px;
}
.mailing_title {
  margin-bottom: 16px;
  width: 800px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #232536;
}
.mailing_text {
  width: 405px;
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #6d6e76;
}
.mailing a {
  width: 250px;
  padding: 16px 38px;
  background-color: #ffd050;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #232536;
  text-align: center;
}

@media (max-width: 1024px) {
  .statistic {
    padding: 24px;
  }
  .task {
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 80px;
  }
  .statistic > div > h2 {
    font-size: 32px;
  }
  .about_us {
    margin: 0 auto;
    max-width: 100%;
  }
  .about_us_text {
    padding: 24px;
  }
  .info {
    flex-direction: column;
  }
  .list_of_authors_individual {
    flex-direction: column;
    margin-bottom: 64px;
  }
  .mailing {
    margin: 0 auto;
    margin-bottom: 64px;
  }
  .mailing_title {
    width: unset;
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .about_us {
    flex-direction: column;
  }
  .task {
    flex-direction: column;
  }
  .task > div {
    padding: 16px;
  }
  .statistic {
    position: static;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 8px;
  }
  .statistic > div > h2 {
    font-size: 20px;
  }
  .statistic > div > p {
    font-size: 14px;
  }
  .about_us_text h2 {
    font-size: 36px;
  }
  .about_us_info {
    padding: 0 12px;
    margin-bottom: 24px;
    font-size: 14px;
  }
  .list_of_authors {
    margin: 0 auto;
    max-width: 90%;
  }
  .info {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .info_text {
    padding: 0 32px;
  }
  .list_of_authors_individual {
    padding: 0;
  }
  .mailing_title {
    font-size: 24px;
  }
  .mailing_text {
    font-size: 14px;
  }
  .mailing a {
    width: 80%;
  }
}
